<configuration debug="false">

    <appender name="SERVER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SERVER_CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SERVER_CONSOLE"/>
        <includeCallerData>true</includeCallerData>
    </appender>
    <logger name="dummy" level="INFO" additivity="false">
        <appender-ref ref="SERVER_CONSOLE_ASYNC"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="SERVER_CONSOLE_ASYNC" />
    </root>
</configuration>